@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #ee4266;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7 !important;
  color: #101010;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

#tippy-5 {
  top: 30px;
  left: -18px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 35px !important;
  color: #343a40 !important;
}

.slick-next:before {
  content: '→';
}

.slick-prev:before {
  content: '←';
}

.imageContainer img {
  max-width: unset !important;
  max-height: unset !important;
}

.css-1ol09wb-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #ee4266;
}
