.Sidebar {
  position: fixed;
  z-index: 999;
  background-color: white;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35%;
  min-width: 300px;
  transition: all 0.5s ease-out;
}

.SidebarOpen {
  animation: openSidebar 0.5s ease-out forwards;
}

.SidebarClosed {
  animation: closeSidebar 1s ease-out forwards;
}

@keyframes openSidebar {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes closeSidebar {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.8;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
